<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>
  <body>
    {{> header}}
    <p>Again just testing some things like handlebars and express.</p>

    {{> footer}}
  </body>
</html>
