<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some  Website</title>
  </head>
  <body>
    {{> header}}
    <p>This is my test projects page.</p>
    <p>This app was built to test node and express out.</p>
    {{> footer}}
  </body>
</html>
